// Main Palette
$blue-1: rgb(57, 166, 204);     // Medium Blue
$blue-2: rgb(47, 126, 153);     // Dark Blue
$blue-3: rgb(147, 255, 224);    // Green Blue
$blue-4: rgb(61, 176, 217);     // Light Blue
$pink-1: rgb(212, 81, 113);     // Medium Pink
$pink-2: rgb(255, 161, 153);    // Light Pink
$pink-3: rgb(204, 93, 120);     // Dark Pink

$alt-blue-1: rgb(130, 199, 211);
$alt-blue-2: rgb(92, 169, 182);

$blue-1: lighten($blue-1, 5%);
$blue-2: lighten($blue-2, 5%);
$red: rgb(208, 117, 125);
$yellow: rgb(255, 250, 210);
// $yellow: rgba(255, 242, 127, 0.35);

$header-background: $blue-1;

$content-font-color: #222;
$content-font-size: 14px;
$content-padding: 1em;

$link-color: $blue-1;
$link-hover-color: $blue-2;

$delete-color: rgb(208, 117, 125);

$panel-border-radius: 6px;

$sidebar-link-background-hover: #f6f6f6;
$sidebar-link-background-selected: lighten($blue-3, 10%);

$input-default-background-color: #e6e6e6;
$input-default-border-color: #ddd;

$input-selected-background-color: $blue-1;
$input-selected-border-color: $input-selected-background-color;

$to-do-padding: 18px;

@mixin unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin checked-input
{
    @include unselectable;

    cursor: pointer;
    display: inline-block;

    & > input
    {
        display: none;

        &:checked
        {
            & + label
            {
                background: $input-selected-background-color;
                border: 1px solid $input-selected-border-color;
                color: #fff;

                &:before
                {
                    background-color: #fff;
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-right: 1px solid $input-selected-background-color;
                }
            }
        }
    }

    & > label
    {
        background: $input-default-background-color;
        border: 1px solid $input-default-border-color;
        border-radius: 4px;
        color: #555;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        line-height: 1.5em;
        margin: 0;
        padding: 0.25em 0;
        padding-left: 0;
        text-align: center;
        width: 7em;

        &:before
        {
            background: #fff;
            border-bottom-left-radius: 3px;
            border-right: 1px solid $input-default-border-color;
            border-top-left-radius: 3px;
            content: "";
            float: left;
            margin: 0;
            margin-top: -0.25em;
            padding: 0;
            height: 2em;
            width: 2em;
        }
    }
}

@mixin text-input($height: 2em)
{
    display: inline-block;
    height: $height;
    line-height: $height;

    & > label
    {
        background: $input-default-border-color;
        border: 1px solid $input-default-border-color;
        border-radius: 4px;
        display: inline-block;
        color: #555;
        height: $height;
        line-height: $height;
        margin-right: 1em;
        padding: 0 1em;
    }

    & input
    {
        border: 1px solid $input-default-border-color;
        border-radius: 4px;
        color: #555;
        display: inline-block;
        height: $height;
        margin: 0;
        outline: none;
        padding: 0 0.5em;
    }
}

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body
{
    background: #e6e6e6;
    color: $content-font-color;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;

    & > header
    {
        background: $header-background;
        color: #fff;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0 1em;
    }
}

h1,
h2,
h3,
h4,
h5
{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 20px;
}

h2
{
    font-size: 18px;
}

h3
{
    font-size: 16px;
}

a
{
    color: $link-color;

    &:hover
    {
        color: $link-hover-color;
        text-decoration: none;
    }
}

.panel
{
    background: #fff;
    border-radius: $panel-border-radius;
    display: inline-block;
    padding: 0;
    text-align: left;
    vertical-align: top;

    & > header
    {
        background: $header-background;
        border-radius: $panel-border-radius $panel-border-radius 0 0;
        color: #fff;
        font-variant: small-caps;
        height: 2.5em;
        line-height: 2.5em;
        margin: 0;
        text-align: center;
    }

    & + &
    {
        margin-left: 1em;
    }
}

#side
{
    background: transparent;
    padding-bottom: 3em;
}

#main
{
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}

#copyright
{
    color: #555;
    font-size: 14px;
    margin: 0;
    padding: 1em 0;
    text-align: center;

    & p
    {
        margin: 0;
        padding: 0;
    }
}

#sidebar
{
    padding-bottom: 0.75em;
    width: 240px;

    & nav
    {
        & a
        {
            border-top: 1px solid $sidebar-link-background-hover;
            color: #777;
            display: block;
            font-size: $content-font-size;
            height: 1.5em;
            line-height: 1.5em;
            outline: none;
            padding: 0.5em 0.6em;
            text-decoration: none;

            &:hover
            {
                background: $sidebar-link-background-hover;
            }

            &:last-child
            {
                border-bottom: 1px solid $sidebar-link-background-hover;

                &.selected
                {
                    border-bottom: 1px solid $sidebar-link-background-selected;
                }
            }

            &.selected
            {
                background: $sidebar-link-background-selected;
                border-top: 1px solid $sidebar-link-background-selected;

                & + a
                {
                    border-top: 1px solid transparent;
                }
            }

            & span.to-do-count
            {
                background: #aaa;
                border-radius: 10px;
                color: #fff;
                float: right;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5em;
                height: 1.5em;
                min-width: 0.8em;
                padding: 0 0.5em;
                text-align: center;
            }
        }
    }

    & section
    {
        & > header
        {
            color: #333;
            padding: 0.5em;
            text-align: left;
        }
    }
}

#all-category
{
    background-image: url('all.png');
}

#today-category
{
    background-image: url('today.png');
}

#later-category
{
    background-image: url('later.png');
}

#done-category
{
    background-image: url('done.png');
}

.to-do-category,
#sidebar a span
{
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

#settings-link
{
    background-image: url('settings.png');
}

#logout-link
{
    background-image: url('logout.png');
}

#content
{
    width: 560px;
}

#to-do-list
{
    font-size: $content-font-size;

    & p.empty
    {
        color: #555;
        display: none;
        margin: 0;
        padding: 1em;
        text-align: center;
    }
}

form.to-do-editor
{
    display: inline-block;
}

#new-to-do-form
{
    @include unselectable;

    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: $content-font-size;
    overflow: hidden;

    #new-to-do-title
    {
        border: 1px solid $input-default-border-color;
        border-radius: 4px;
        background: #fff;
        display: block;
        height: auto;
        line-height: normal;
        margin: $content-padding; 
        position: relative;

        & > input[type="text"]
        {
            border: none;
            display: block;
            height: auto;
            line-height: normal;
            padding: 0.8em;
            width: 84%;
        }

        & > input[type="submit"]
        {
            background: $input-selected-background-color;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #fff;
            height: 2em;
            line-height: 2em;
            margin-top: -1em;
            padding: 0 1em;
            position: absolute;
            right: 0.5em;
            top: 50%;

            &:hover
            {
                background: $blue-2;
            }
        }
    }

    #new-to-do-options
    {
        padding-top: 0;
    }

    #new-to-do-datetime
    {
        background: darken(#f6f6f6, 2%);
        border-top: 1px solid #ddd;
        display: none;

        & .field
        {
            text-align: left;
            width: 28em;

            & + .field
            {
                margin-left: 0;
                margin-top: 1em;
            }
        }

        & label
        {
            margin-right: 0.5em;
            text-align: center;
            width: 4em;
        }

        & input + input
        {
            margin-left: 0.5em;
        }
    }

    & .field
    {
        display: inline-block;
        font-size: $content-font-size;
        margin: 0;
        padding: 0;
        vertical-align: top;

        & + .field
        {
            margin-left: 1em;
        }
    }

    & .field-set
    {
        display: none;
        padding: $content-padding;
        text-align: center;
    }

    & .divider
    {
        border: 1px solid #ddd;
        border-right: none;
        display: inline-block;
        height: 2em;
        line-height: 2em;
        margin: 0 0.75em;
        width: 0;
        vertical-align: top;
    }

    & .schedule
    {
        background: url('schedule.png') no-repeat 1em center $input-default-background-color;
        border: 1px solid $input-default-border-color;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        line-height: 2em;
        height: 2em;
        margin: 0;
        padding: 0;

        &.selected
        {
            background: url('schedule-selected.png') no-repeat 1em center $input-selected-background-color;
            border: 1px solid transparent;

            & > a
            {
                color: #fff;
            }
        }

        & > a
        {
            color: #555;
            margin: 0;
            outline: none;
            padding: 0 1em 0 3em;
            text-decoration: none;
        }
    }

    & .cancel
    {
        background: $delete-color;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        line-height: 2em;
        height: 2em;
        margin: 0;
        padding: 0;

        & > a
        {
            color: #fff;
            margin: 0;
            outline: none;
            padding: 0 1em;
            text-decoration: none;
        }

        &:hover
        {
            background: lighten($delete-color, 5%);
        }
    }

    & .checkbox-field
    {
        @include checked-input;

        & > input[type="checkbox"]:checked
        {
            & + label:before
            {
                background-image: url('repeat.png');
            }
        }
    }

    & .datetime-field
    {
        @include text-input;

        & > input
        {
            &::-webkit-inner-spin-button
            {
                -webkit-appearance: none;
            }
        }

        & > input[type="date"]
        {
            width: 10em;

            &::-webkit-calendar-picker-indicator
            {
                -webkit-appearance: none;
                background: url('dropdown.png') no-repeat center;
                color: transparent;
                cursor: pointer;
            }
        }

        & > input[type="time"]
        {
            width: 8em;
        }
    }

    & .radio-field
    {
        @include checked-input;

        & > input[type="radio"]
        {
            &:checked + label
            {
                &[for="new-to-do-later"]:before
                {
                    background-image: url('later.png');
                }

                &[for="new-to-do-today"]:before
                {
                    background-image: url('today.png');
                }
            }
        }

        & + .radio-field
        {
            margin-left: 0.5em;
        }
    }

    & .select-field
    {
        @include text-input;
        position: relative;

        & > .select-input
        {
            background: url("dropdown.png") no-repeat 7.5em center #fff;
            border: 1px solid $input-default-border-color;
            border-radius: 4px;
            display: inline-block;
            height: 2em;
            line-height: 2em;
            overflow: hidden;
            padding: 0 0.5em;
            width: 8em;

            & > select
            {
                -moz-appearance: none;
                -webkit-appearance: none;
                background: transparent;
                border: none;
                color: #555;
                cursor: pointer;
                display: inline-block;
                height: 2em;
                line-height: 2em;
                margin: 0;
                outline: none;
                width: 10em;

                &:-moz-focusring
                {
                    color: transparent;
                    text-shadow: 0 0 0 #555;
                }
            }
        }

        & > label
        {
            vertical-align: top;
        }

        & > p
        {
            color: #555;
            cursor: default;
            display: inline-block;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 0.5em;
            vertical-align: top;

            & > input
            {
                margin: 0 0.25em;
                width: 1.5em;
            }
        }
    }

    & .text-field
    {
        @include text-input(2.5em);
    }
}

.to-do
{
    cursor: default;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    &:hover
    {
        & > .date
        {
            display: none;
        }

        & > .details
        {
            display: inline-block;
        }
    }

    &.expanded
    {
        height: auto;

        & .to-do-title
        {
            height: auto;
            
            & > a
            {
                height: auto;
                overflow: visible;
                white-space: normal;
            }
        }
    }

    & + &
    {
        border-top: 1px dashed #ddd;
    }

    & > input[type="checkbox"]
    {
        display: none;

        & + label
        {
            background: #fff;
            border: 1px solid #aaa;
            border-radius: 2px;
            cursor: pointer;
            height: 20px;
            left: $to-do-padding;
            line-height: 20px;
            margin-right: 0;
            padding: 0;
            position: absolute;
            top: $to-do-padding - 1px;
            width: 20px;
        }

        &:checked
        {
            & + label
            {
                background: url("check.png") #fff center no-repeat;
            }

            & ~ .to-do-title
            {
                background: $yellow;
                width: 100%;
            }

            & ~ .date,
            & ~ .details
            {
                background: $yellow;
                box-shadow: -$to-do-padding 0 8px 8px $yellow;
            }
        }
    }

    & > label
    {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        padding: $to-do-padding;
        padding-left: 20px + (2 * $to-do-padding);

        & a
        {
            color: #333;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            max-width: 480px;
            outline: none;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    & .date
    {
        background: #fff;
        box-shadow: -$to-do-padding 0 8px 8px #fff;
        color: #999;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: $to-do-padding;
        top: $to-do-padding;
    }

    & > .details
    {
        background: #fff;
        box-shadow: -$to-do-padding 0 8px 8px #fff;
        display: none;
        position: absolute;
        right: $to-do-padding;
        top: $to-do-padding;

        & > .detail
        {
            background-position: left center;
            background-repeat: no-repeat;
            color: #555;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            min-width: 16px;
            outline: none;
            text-decoration: none;
            text-transform: capitalize;
            vertical-align: baseline;

            &.later
            {
                background-image: url('later.png');

                &:after
                {
                    content: "Later";
                }

                &:hover
                {
                    background-image: url('later-selected.png');
                }
            }

            &.today
            {
                background-image: url('today.png');

                &:after
                {
                    content: "Today";
                }

                &:hover
                {
                    background-image: url('today-selected.png');
                }
            }

            &.edit
            {
                background-image: url('edit.png');

                &:after
                {
                    content: "Edit";
                }

                &:hover
                {
                    background-image: url('edit-selected.png');
                }
            }

            &.delete
            {
                background-image: url('delete.png');

                &:after
                {
                    color: $delete-color;
                    content: "Delete";
                }

                &:hover
                {
                    background-image: url('delete-selected.png');
                }
            }

            &:after
            {
                color: $blue-1;
                display: none;
                height: 20px;
                line-height: 20px;
                padding-left: 24px;
            }

            & + .detail
            {
                margin-left: 12px;
            }
        }

        &.selected
        {
            display: inline-block;

            & > .detail
            {
                margin-left: 0;

                &.later
                {
                    background-image: url('later-selected.png');
                }

                &.today
                {
                    background-image: url('today-selected.png');
                }

                &.edit
                {
                    background-image: url('edit-selected.png');
                }

                &.delete
                {
                    background-image: url('delete-selected.png');
                }

                &:after
                {
                    display: inline-block;
                }
            }
        }

        & > .change
        {
            border: none;
            border-left: 1px solid #ccc;
            color: #777;
            display: inline-block;
            margin: 0;
            margin-left: 12px;
            padding: 0;
            padding-left: 12px;

            & > a
            {
                & + a
                {
                    margin-left: 0.5em;
                }
            }

            & > p
            {
                display: inline-block;
                margin: 0;
                margin-right: 12px;
                padding: 0;
            }
        }
    }
}
