// Theme Palette 1
$red: rgb(221, 155, 161);
$yellow: rgb(221, 220, 160);
$light-blue: rgb(211, 244, 242);
$blue: rgb(158, 222, 219);
$purple: rgb(158, 159, 219);

// Theme Palette 2
$blue-1: rgb(57, 166, 204);     // Medium Blue
$blue-2: rgb(47, 126, 153);     // Dark Blue
$blue-3: rgb(147, 255, 224);    // Light Blue
$pink-1: rgb(255, 161, 153);    // Light Pink
$pink-2: rgb(204, 93, 120);     // Dark Pink

$header-background: $blue-1;

$content-font-color: #222;
$content-font-size: 14px;
$content-padding: 1em;

$link-color: $blue-1;
$link-hover-color: $blue-2;

$delete-color: $red;

$panel-border-radius: 6px;

$sidebar-link-background-hover: #f6f6f6;
$sidebar-link-background-selected: $blue-3;

$new-to-do-checked-input-background: $blue-1;

@mixin unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin checked-input
{
    @include unselectable;

    cursor: pointer;
    display: inline-block;

    & > input
    {
        display: none;

        &:checked
        {
            & + label
            {
                background: $new-to-do-checked-input-background;
                border: 1px solid $new-to-do-checked-input-background;
                color: #fff;

                &:before
                {
                    background-color: #fff;
                    background-position: center center;
                    background-repeat: no-repeat;
                    border-right: 1px solid $new-to-do-checked-input-background;
                }
            }
        }
    }

    & > label
    {
        background: #e6e6e6;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #555;
        cursor: pointer;
        display: inline-block;
        height: 1.5em;
        line-height: 1.5em;
        margin: 0;
        padding: 0.25em 0;
        padding-left: 0;
        text-align: center;
        width: 7em;

        &:before
        {
            background: #fff;
            border-bottom-left-radius: 3px;
            border-right: 1px solid #ddd;
            border-top-left-radius: 3px;
            content: "";
            float: left;
            margin: 0;
            margin-top: -0.25em;
            padding: 0;
            height: 2em;
            width: 2em;
        }
    }
}

html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body
{
    background: #e6e6e6;
    color: $content-font-color;
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-rendering: optimizeLegibility;

    & > header
    {
        background: $header-background;
        color: #fff;
        height: 40px;
        line-height: 40px;
        margin: 0;
        padding: 0 1em;
    }
}

h1,
h2,
h3,
h4,
h5
{
    font-weight: normal;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 20px;
}

h2
{
    font-size: 18px;
}

h3
{
    font-size: 16px;
}

a
{
    color: $link-color;

    &:hover
    {
        color: $link-hover-color;
        text-decoration: none;
    }
}

div.panel
{
    background: #fff;
    border-radius: $panel-border-radius;
    display: inline-block;
    padding: 0;
    text-align: left;
    vertical-align: top;

    & > header
    {
        background: $blue-1;
        border-radius: $panel-border-radius $panel-border-radius 0 0;
        color: #fff;
        font-variant: small-caps;
        height: 2.5em;
        line-height: 2.5em;
        margin: 0;
        padding: 0 1em;
        text-align: center;
    }

    & + &
    {
        margin-left: 1em;
    }
}

#side
{
    background: transparent;
    padding-bottom: 3em;
}

#main
{
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
}

#copyright
{
    color: #555;
    font-size: 14px;
    margin: 0;
    padding: 1em 0;
    text-align: center;

    & p
    {
        margin: 0;
        padding: 0;
    }
}

#sidebar
{
    padding-bottom: 1em;
    width: 240px;

    & nav
    {
        & a
        {
            border-top: 1px solid $sidebar-link-background-hover;
            color: #666;
            display: block;
            font-size: $content-font-size;
            height: 1.5em;
            line-height: 1.5em;
            outline: none;
            padding: 0.5em 0.6em;
            text-decoration: none;

            &:hover
            {
                background: $sidebar-link-background-hover;
            }

            &:last-child
            {
                border-bottom: 1px solid $sidebar-link-background-hover;

                &.selected
                {
                    border-bottom: 1px solid $sidebar-link-background-selected;
                }
            }

            &.selected
            {
                background: $sidebar-link-background-selected;
                border-top: 1px solid $sidebar-link-background-selected;

                & + a
                {
                    border-top: 1px solid transparent;
                }
            }

            & span.to-do-count
            {
                background: #aaa;
                border-radius: 10px;
                color: #fff;
                float: right;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.5em;
                height: 1.5em;
                min-width: 0.8em;
                padding: 0 0.5em;
                text-align: center;
            }
        }
    }

    & section
    {
        & > header
        {
            color: #333;
            padding: 0.5em;
            text-align: left;
        }
    }
}

#content
{
    width: 560px;
}

#to-do-list
{
    font-size: $content-font-size;

    & p.empty
    {
        color: #555;
        display: none;
        margin: 0;
        padding: 1em;
        text-align: center;
    }
}

form.to-do-editor
{
    display: inline-block;
}

#new-to-do-form
{
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: $content-font-size;
    padding: $content-padding;

    #new-to-do-title
    {
        border: 1px solid #ddd;
        display: block;
        height: auto;
        line-height: normal;

        & input[type="text"]
        {
            height: auto;
            line-height: normal;
            padding: 0.8em;
            width: 84%;
        }

        & input[type="submit"]
        {
            background: $blue-1;
            border: 1px solid $blue-1;
            border-radius: 4px;
            color: #fff;
            height: 2em;
            line-height: 2em;
            margin-top: -1em;
            padding: 0 1em;
            position: absolute;
            right: 0.5em;
            top: 50%;

            &:hover
            {
                background: lighten($blue-1, 5%);
                border-color: lighten($blue-1, 5%);
            }
        }
    }

    & div.field
    {
        display: inline-block;
        font-size: $content-font-size;

        & + .field-set
        {
            margin-top: 1em;
        }

        & + .field
        {
            margin-left: 1em;
        }
    }

    & div.field-set
    {
        display: none;
        text-align: center;

        & > div.field,
        & > div.divider,
        & > div.cancel
        {
            vertical-align: top;
        }

        & + div.field-set
        {
            border-top: 1px solid #ddd;
            margin-top: 1em;
            padding-top: 1em;
        }
    }

    & div.divider
    {
        border: 1px solid #ddd;
        border-right: none;
        display: inline-block;
        height: 2em;
        line-height: 2em;
        margin: 0 0.75em;
        width: 0;
    }

    & div.schedule
    {
        background: $blue-1;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        line-height: 2em;
        height: 2em;
        margin: 0;
        padding: 0;

        & a
        {
            color: #fff;
            margin: 0;
            outline: none;
            padding: 0 1em;
            text-decoration: none;
        }

        &:hover
        {
            background: lighten($blue-1, 5%);
        }
    }

    & div.cancel
    {
        background: $delete-color;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        line-height: 2em;
        height: 2em;
        margin: 0;
        padding: 0;

        & a
        {
            color: #fff;
            margin: 0;
            outline: none;
            padding: 0 1em;
            text-decoration: none;
        }

        &:hover
        {
            background: lighten($delete-color, 5%);
        }
    }

    & div.checkbox-field
    {
        @include checked-input;

        & > input[type="checkbox"]:checked
        {
            & + label:before
            {
                background-image: url('repeat.png');
            }
        }
    }

    & div.radio-field
    {
        @include checked-input;

        & > input[type="radio"]
        {
            &:checked + label
            {
                &[for="new-to-do-later"]:before
                {
                    background-image: url('later.png');
                }

                &[for="new-to-do-today"]:before
                {
                    background-image: url('today.png');
                }
            }
        }

        & + div.radio-field
        {
            margin-left: 0.5em;
        }
    }

//  & .select-field
//  {
//      background: $blue-1;
//      border: 1px solid $blue-1;
//      border-radius: 4px;

//      & > label
//      {
//          color: #fff;
//          display: inline-block;
//          float: left;
//          height: 1.4em;
//          line-height: 1.5em;
//          margin-right: 0.6em;
//          padding: 0.2em 0.2em 0.2em 0.6em;
//      }

//      & > .select-input
//      {
//          background: url("dropdown.png") no-repeat 90% center #fff;
//          border-bottom-right-radius: 3px;
//          border-top-right-radius: 3px;
//          display: inline-block;
//          float: left;
//          height: 1.5em;
//          line-height: 1.5em;
//          overflow: hidden;
//          padding: 0.2em 0.2em 0.2em 0.6em;
//          width: 5em;

//          & > select
//          {
//              -moz-appearance: none;
//              -webkit-appearance: none;
//              background: transparent;
//              border: none;
//              color: #555;
//              cursor: pointer;
//              display: inline-block;
//              height: 1.4em;
//              line-height: 1.4em;
//              margin: 0;
//              outline: none;
//              width: 8em;

//              &:-moz-focusring
//              {
//                  color: transparent;
//                  text-shadow: 0 0 0 #555;
//              }
//          }
//      }
//  }

    & div.text-field
    {
        background: #fff;
        border: 1px solid $blue-1;
        border-radius: 4px;
        display: inline-block;
        height: 2.5em;
        line-height: 2.5em;
        position: relative;

        & label
        {
            background: $blue-1;
            border-radius: 0;
            display: inline-block;
            color: #fff;
            height: 2.5em;
            line-height: 2.5em;
            padding: 0 0.8em;
        }

        & input[type="text"]
        {
            border: 0;
            border-radius: 4px;
            color: #555;
            display: inline-block;
            height: 2.5em;
            line-height: 2.5em;
            margin: 0;
            outline: none;
            padding: 0 0.8em;
        }
    }
}

div.to-do
{
    @include unselectable;

    cursor: default;
    display: block;
    height: 1.5em;
    line-height: 1.5em;
    margin: 0 1.25em;
    padding: 1.25em 0;
    position: relative;

    & + &
    {
        border-top: 1px dotted #aaa;
    }

    &:hover div.details
    {
        display: inline-block;
    }

    & input[type="checkbox"]
    {
        display: none;

        &:checked + label
        {
            background: url("checkbox-checked.png") transparent left center no-repeat;
        }
    }

    & label
    {
        background: url("checkbox-unchecked.png") transparent left center no-repeat;
        cursor: pointer;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        max-width: 480px;
        overflow: hidden;
        padding-left: 36px;
        text-overflow: ellipsis;
        white-space: nowrap;

        & a
        {
            color: #333;
            height: 20px;
            line-height: 20px;
            outline: none;
            text-decoration: none;
        }
    }

    & div.details
    {
        background: #fff;
        box-shadow: -1em 0 0.5em 0.5em #fff;
        display: none;
        position: absolute;
        right: 0;

        & a.detail
        {
            background-color: $blue-1;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 4px;
            color: #fff;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin-top: -3px;
            padding: 3px;
            text-decoration: none;
            text-transform: capitalize;
            vertical-align: middle;
            width: 20px;

            &:hover
            {
                background-color: lighten($blue-1, 5%);
            }

            & + a.detail
            {
                margin-left: 0.5em;
            }

            &.later
            {
                background-image: url('later-selected.png');
            }

            &.today
            {
                background-image: url('today-selected.png');
            }

            &.no-repeat
            {
                background-color: #aaa;
                background-image: url('repeat-selected.png');

                &:hover
                {
                    background-color: lighten(#aaa, 5%);
                }
            }

            &.repeat
            {
                background-image: url('repeat-selected.png');
            }

            &.edit
            {
                background-image: url('edit-selected.png');
            }

            &.delete
            {
                background-color: $delete-color;
                background-image: url('delete.png');

                &:hover
                {
                    background-color: lighten($delete-color, 5%);
                }
            }
        }

        &.selected
        {
            display: inline-block;

            & a.detail
            {
                background-position: 6px center;
                padding-left: 28px;
                padding-right: 7px;
                vertical-align: baseline;
                width: auto;

                &.later,
                &.edit
                {
                    background-position: 7px center;
                    padding-left: 30px;
                    padding-right: 8px;
                }
            }
        }

        & div.edit
        {
            color: #777;
            display: inline-block;
            margin: 0;
            margin-left: 0.5em;
            padding: 0;

            & a
            {
                & + a
                {
                    margin-left: 0.5em;
                }
            }
        }

        & p
        {
            display: inline-block;
            margin: 0;
            margin-right: 0.5em;
            padding: 0;
        }
    }
}
