body {
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  color: #222222;
  font-family: sans-serif;
  min-height: 100vh; }
  body > header, body > footer {
    background: #39a6cc;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 1em; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0; }

#main {
  display: flex;
  flex: 1;
  margin: 1em auto; }

.panel {
  background: #fff;
  border-radius: 6px;
  display: inline-block; }
  .panel > header {
    background: #39a6cc;
    border-radius: 6px 6px 0 0;
    color: #fff;
    height: 2.5em;
    line-height: 2.5em;
    margin: 0;
    padding: 0 1em; }

#sidebar {
  margin-right: 1em;
  padding: 1em 0;
  padding-top: 0;
  width: 240px; }
  #sidebar header {
    text-align: center; }
  #sidebar nav a {
    border-top: 1px solid #f6f6f6;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 1.4em;
    padding: 0.5em;
    text-decoration: none; }
    #sidebar nav a:hover {
      background: #f6f6f6; }
    #sidebar nav a:last-child {
      border-bottom: 1px solid #f6f6f6; }
      #sidebar nav a:last-child.selected {
        border-bottom: 1px solid #93ffe0; }
    #sidebar nav a.selected {
      background: #93ffe0;
      border-top: 1px solid #93ffe0; }
      #sidebar nav a.selected + a {
        border-top: 1px solid transparent; }
    #sidebar nav a span.to-do-count {
      background: #aaa;
      border-radius: 10px;
      color: #fff;
      float: right;
      font-size: 0.8em;
      font-weight: bold;
      min-height: 0.8em;
      min-width: 0.8em;
      padding: 0 0.5em;
      text-align: center; }
  #sidebar section > header {
    padding: 0.5em;
    text-align: left; }

#content {
  width: 480px; }

#to-do-list {
  padding: 1em; }

form.to-do-editor {
  display: inline-block; }

#new-to-do-form {
  background: #f6f6f6;
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 14px;
  padding: 1em; }
  #new-to-do-form .text-field {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em;
    position: relative; }
    #new-to-do-form .text-field input[type="text"] {
      border: 0;
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 89%; }
    #new-to-do-form .text-field input[type="submit"] {
      background: #39a6cc;
      border: none;
      border-radius: 4px;
      color: #fff;
      font-size: 14px;
      margin-top: -0.2em;
      padding: 0.2em 0.6em;
      position: absolute;
      right: 0.4em; }
    #new-to-do-form .text-field + .field, #new-to-do-form .text-field + .field-set {
      margin-top: 1em; }
  #new-to-do-form > .field-set {
    width: 100%; }
    #new-to-do-form > .field-set + .field-set {
      margin-top: 1em; }
  #new-to-do-form .field {
    background: #f6f6f6;
    border: none;
    margin: 0 0.5em; }
    #new-to-do-form .field > p {
      display: inline-block;
      margin: 0;
      padding: 0; }
    #new-to-do-form .field + .field {
      margin-top: 1em; }

div.to-do {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: block;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding-bottom: 1em; }
  div.to-do:hover div.details {
    display: inline-block; }
  div.to-do input[type="checkbox"] {
    display: none; }
    div.to-do input[type="checkbox"]:checked + label {
      background: url("checkbox-checked.png") transparent left center no-repeat; }
  div.to-do label {
    background: url("checkbox-unchecked.png") transparent left center no-repeat;
    cursor: pointer;
    display: inline-block;
    padding-left: 36px;
    position: relative; }
  div.to-do div.details {
    display: none;
    float: right; }
    div.to-do div.details div.details-badge {
      cursor: pointer;
      display: inline-block; }
      div.to-do div.details div.details-badge img {
        background: #eee;
        border-radius: 4px;
        display: inline-block;
        margin-top: -3px;
        padding: 3px; }
  div.to-do + div.to-do {
    border-top: 1px dotted #aaa;
    padding-top: 1em; }
