{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
<form method="POST" action="{% url 'profiles:login' %}">
    {% csrf_token %}
    {% if form.errors %}
        <p>No matching email or password. Please try again.</p>
    {% endif %}
    {% for field in form %}
        {% if field.errors %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endif %}
        <p>{{ field.label_tag }} {{ field }}</p>
    {% endfor %}
    <input type="hidden" name="next" value="{{ next }}" />
    <input type="submit" value="Login" />
</form>
