{% load staticfiles %}
<form id="register" action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.errors }}</p>
        <p>{{ field.label_tag }} {{ field }}</p>
    {% endfor %}
    <input type="submit" value="Sign Up" />
</form>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="http://cdn.bitbucket.org/pellepim/jstimezonedetect/downloads/jstz-1.0.4.min.js"></script>
<script type="text/javascript">
    var timezone = jstz.determine().name();
    $('form#register select[name="timezone"]').val(timezone);
</script>
